<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Books list</h3>
  </div>
  <div class="panel-body">
    <form class="form-inline">
      <div class="form-group">
        <label for="orderby">Order by:</label>
        <select class="form-control" id="orderby" ng-model="ctrl.orderBy">
          <option value='title'>Title</option>
          <option value='author'>Author</option>
          <option value='read'>Read?</option>
          <option value='id'>ID</option>
          <option value='pages'>Pages</option>
        </select>
      </div>
    </form>
  </div>
  <table class="table table-striped table-hover">
    <tr>
      <th class="col-md-1">ID</th>
      <th class="col-md-4">Title</th>
      <th class="col-md-3">Author</th>
      <th class="col-md-2">No. of pages</th>
      <th class="col-md-1">Read?</th>
      <th class="col-md-1">Actions</th>
    </tr>
    <tr ng-repeat="book in ctrl.books  | orderBy:ctrl.orderBy">
      <td>{{book.id}}</td>
      <td>{{book.title}}</td>
      <td>{{book.author}}</td>
      <td>{{book.pages}}</td>
      <td><span class="glyphicon" ng-class="ctrl.bookReadClass(book)" aria-hidden="true"></span></td>
      <td>
        <a ui-sref="edit({ bookId: book.id })">edit</a>
      </td>
    </tr>
  </table>
</div>
